body {
  background-color: #eeeeee;
  font-family: arial;
}

.list {
  background-color: #666666;
  height: 100px;
}
.list, .list::after, .list::before {
  box-sizing: content-box;
}
.list ul {
  list-style: none;
  display: inline-flex;
  padding: 0;
  padding-left: 10px;
}
.list ul li {
  margin-right: 10px;
  height: 30px;
  font-size: 1.7rem;
  text-align: left;
  padding: 5px;
  background-color: #999999;
  border-radius: 10%;
}
.list ul li:hover {
  background-color: #665544;
}
.list ul li a {
  color: white;
  text-decoration: none;
}
table th, td {
  font-size: 1.1rem;
  padding: 5px;
  text-align: center;
  border: 3px solid black;
}

@media (max-width:600px) {
    table {
      background-color: #6666aa
    }
    td, th {
      background-color: red;
      font-size: 0.9rem;
      padding: 1px;
    }
    th {
      font-weight: normal;
    }
}
